[Unit]
Description=Headless clipboard server
After=network.target

[Service]
ExecStart=/usr/bin/rclip server -c /etc/rclip/rclipd.yaml
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
